* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*header and navigation styles: */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 90px;
}

/*button-1*/
.button1 {

    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background-color: orange;
    border: 0;
    border-radius: 5px;
    padding: 14px 35px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 15px;
}

#r {
    color: orange;
}

.nav-title {
    font-weight: 600;
    font-size: 45px;
}

/*banner*/
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title-1 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title-2 {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/*Section*/

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 140px;
    background: #FFF8F3;
    border-radius: 15px;
    padding: 130px 150px;

}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/*table*/
/*failed to add extra space between columns. should i have used table columns instead rows?*/
table {
    margin: 0 auto;
    border-spacing: 50px 5px;
    /* margin: 0 50px; */
}

/*solved: may be due to using colgroup. need to know more on this!*/
.tr {}

th {
    font-weight: normal;
}

td {
    font-weight: bold;
}

.tr {
    padding: 2px 10px;
}

.tr {
    padding: 0 15px;
}

/*section2-what i do*/

.w-i-do {
    margin-top: 130px;
}

.section-title2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.section-2 {
    text-align: center;
    margin-bottom: 100px;
    color: #757575;

}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
}

.skill-para {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}